<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-toggle autoHide="false" menu="main-content">
      <ion-button autoHide="false" menu="main-content" color="dark">
        <ion-icon src="../../assets/icon/Menu-icone.svg" slot="icon-only" color="dark"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <!-- <ion-menu-button autoHide="false" color="dark" 	menu="main-content"></ion-menu-button> -->
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://www.cravate-avenue.com/img/cms/STARS/harvey_specter%202.jpg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Page booking List is working</p>
</ion-content>
